/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET5/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET5/obj
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET5/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET5/obj
/OGA.Sequence.Lib/.vs
/OGA.Sequence.Lib/TestResults
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET6/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET6/obj
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET7/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET7/obj
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET48/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET48/obj
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET452/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_NET452/obj
/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET6/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET6/obj
/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET7/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET7/obj
/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET48/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET48/obj
/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET452/bin
/OGA.Sequence.Lib/OGA.Sequence.Lib_TestNET452/obj
/OGA.Sequence.Lib/packages
